body {
    background-image: url("cow.jpg");
    background-size: cover;
    font-size: 13px;
    color: yellowgreen;
    overflow: hidden;
    line-height: 1.4;
    height: 100vh;
    font-style: italic;
    
  }

  #title{
      font-family:fantasy;
      font-size: 25px;
      font-weight: 90;
      color:black;
      margin-right: 0px;
      margin-top: 70px;
      float: left;
      list-style:shadow;
      margin-left: 450px; 
  }
    #home{
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    letter-spacing: 2px;
    margin-right: 0px;
    margin-top: 3px;
    float: left;
    list-style: square;
    margin-left: 450px;
    text-decoration-line: underline;
    
    }

    #box{
        width: 185px;
        height: 205px;
        background-image: url("Panda.jpg") ;
        position: relative;
        left: 2%;
        
    }
    #text{
        position: relative;
        right: 100%;
        animation: anim 1.5s forwards 2s;
    }
    @keyframes anim{  
        from{
            left:-100%;
            }
        to{
            left: 20%;
        }
    }

    .button{
        display:inline-block;
        padding:35px 12px;
        border:10px solid wheat;
        border-radius:0.12px;
        box-shadow: white;
        box-sizing:inherit;
        text-decoration:solid;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color: rgb(0, 0, 0);
        text-align:center;
        transition: all 0.2s;
        }
    .button:hover{
        color:rgb(229, 255, 82);
        background-color:black;
    }
